Bonjour ! Voici les derniers relevés météos

<div *ngFor="let forecast of this.weatherForecasts | async">
  Date : {{ forecast.date | date }} <br />
  Température (C) : {{ forecast.temperatureC }}<br />
  Température (F) : {{ forecast.temperatureF }}<br />
  Temps: {{ forecast.summary }}
</div>
